<!--
<nav>
    <img src="https://t4.ftcdn.net/jpg/03/90/39/83/360_F_390398311_m4L73RafjG6DjIO0IGLjJunPFPWsFxZs.jpg">
    <ul>
        <li>
            <a routerLink="/home">home</a>
            <a routerLink="/product">smartphone</a>
            <a routerLink="/tablet">tablet</a>
            <a routerLink="#">headphones</a>
            <a routerLink="shoppingCart" >Shopping Cart</a>
        </li>
    </ul>
</nav>
-->
<div class="header">
    <a href="#default" class="logo">Shop Logo</a>
    
    <div class="header-right">
      <a class="active"  routerLink="/home">Home</a>
      <a routerLink="/product">Smartphone</a>
      <a routerLink="/tablet">Tablet</a>
      <a routerLink="#">Headphones</a>
      <a routerLink="shoppingCart" >Shopping Cart</a>
    </div>
  </div>
