   <div class="container">
        <div class="quote" routerLink="/productOverview">        
                <p>Produktname</p>
                <span>Preis</span>
        </div>
                <div class="quote">
                <p>Produktname</p>
                <span>Preis</span>
        </div>
        <div class="quote">
            <p>Produktname</p>
            <span>Preis</span>
        </div>
        <div class="quote">
            <p>Produktname</p>
            <span>Preis</span>
        </div>
        <div class="quote">
            <p>Produktname</p>
            <span>Preis</span>
        </div>
            <div class="quote">
            <p>Produktname</p>
            <span>Preis</span>
        </div>
            <div class="quote">
            <p>Produktname</p>
            <span>Preis</span>
        </div>
            <div class="quote">
            <p>Produktname</p>
            <span>Preis</span>
        </div>
        <div class="quote">
            <p>Produktname</p>
            <span>Preis</span>
        </div>
            <div class="quote">
            <p>Produktname</p>
            <span>Preis</span>
        </div>
        <div class="quote">
            <p>Produktname</p>
            <span>Preis</span>
        </div>
        <div class="quote">
            <p>Produktname</p>
            <span>Preis</span>
        </div>
        <div class="quote">
            <p>Produktname</p>
            <span>Preis</span>
    </div>
            <div class="quote">
            <p>Produktname</p>
            <span>Preis</span>
    </div>
    <div class="quote">
        <p>Produktname</p>
        <span>Preis</span>
    </div>
    <div class="quote">
        <p>Produktname</p>
        <span>Preis</span>
    </div>
    <div class="quote">
        <p>Produktname</p>
        <span>Preis</span>
    </div>
        <div class="quote">
        <p>Produktname</p>
        <span>Preis</span>
    </div>
        <div class="quote">
        <p>Produktname</p>
        <span>Preis</span>
    </div>
        <div class="quote">
        <p>Produktname</p>
        <span>Preis</span>
    </div>
    <div class="quote">
        <p>Produktname</p>
        <span>Preis</span>
    </div>
        <div class="quote">
        <p>Produktname</p>
        <span>Preis</span>
    </div>
    <div class="quote">
        <p>Produktname</p>
        <span>Preis</span>
    </div>
    <div class="quote">
        <p>Produktname</p>
        <span>Preis</span>
    </div>               
   </div>