<div class="container">
    <div class="img">         
    <div class="quote" routerLink="/productOverview"><img src="assets/414McDKPgPL._AC_UL480_FMwebp_QL65_.webp" class="responsive">
        <p>SamsungTab</p>
        <span>499€</span>
    </div>
</div>

<div class="img">
    <div class="quote"><img src="assets/61zdQQORNML._AC_UL480_FMwebp_QL65_.webp" class="responsive">
        <p>IPad</p>
        <span>899€</span>
    </div>
</div>
<div class="img">
    <div class="quote"><img src="assets/71qSWAwzvYS._AC_UY327_FMwebp_QL65_.webp" class="responsive">
        <p>keine Ahnung wie das heißt</p>
        <span>299€</span>
    </div>
</div>

</div>