<div class="products">
    <div *ngFor="let product of products" class="product">
      <table>
        <tr>
          <td>
            <div style="width:325px; height:325px">
              <img src= "{{product.pic}}" alt="Block 1" />
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div>
              <p>Description: {{product.description}}<br>{{product.price}}€</p>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <h2>{{product.name}}</h2>
          </td>
        </tr>
      

        
        
        
        
          <tr>
            <td><input type="number" name="product.count" [(ngModel)]="product.count"></td>
          </tr>
          <tr>
            <td><button class="button1" (click)="this.addToCart(product)">Add to Cart</button></td>
          </tr>
          <tr>
            <td><button>Buy Now </button></td>
          </tr>
        </table>
    <!-- <button class="button2" (click)="this.deleteProduct(product.id)">Delete</button>   -->
      
    </div>
    <div id="snackbar">Item added...</div>

    </div>


